/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.fa{
    color: #383838;
}

.button-collapse {
  color: #26a69a;
}

#sidenav-overlay {
    z-index: 0;
}

#padded-container {
    position: relative;
    padding-right: 50px;
    padding-left: 50px;
    z-index: 2;
}

.bg-box {
    position: absolute;
    height: 100%;
    width: 70%;
    top: 0;
    left: 15%;
    background-color: #001521;
    opacity: .75;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

.parallax-large {
  min-height: 680px;
  height: 58em;
  padding-top: 160px;
}

.fade-btn {
  opacity: 0;
}

#headshot {
    max-width: 200px;
    box-shadow: -2px -2px 20px #555;
}

#about-parallax {
  position: absolute;
  left: 45%;
  bottom: 0;
  min-width: 100%;
  min-height: 190%;
  max-width: 110%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#personal-list li,
#img-list li,
#stagger-list-1 li,
#stagger-list-2 li,
#stagger-list-3 li {
    opacity: 0;
}

.shadow-bg {
  background-color: #111;
  opacity: .8;
  padding: 30px 15px 20px 15px;
}

#with-text-shadow h1,
#with-text-shadow h5 {
  text-shadow: 3px 3px #000;
  text-shadow: -3px -3px #000;
}

.card-image {
    height: 400px;
}

#closing-paragraph {
    font-size: 13px;
    line-height: 1.4;
}

@media only screen and (max-width : 1800px) {
    .card-image {
        height: 300px;
    }
}

@media only screen and (max-width : 1400px) {
    .card-image {
        height: 250px;
    }
    
    #about-parallax {
        min-width: 150%;
        max-width: 150%;
    }
}

@media only screen and (max-width : 1100px) {
    .card-image {
        height: 200px;
    }
    
    #about-parallax {
        min-width: 200%;
        max-width: 200%;
    }
    
    .bg-box {
        width: 100%;
        left: 0;
        opacity: .4;
    }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .card-image {
    height: 160px;
    }
    #about-parallax {
        min-width: 250%;
        max-width: 250%;
    }
    #headshot {
        width: 140px;
    }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
    
    #padded-container {
        padding-right: 10px;
        padding-left: 10px;
    }
    
    #padded-container h5 {
        font-size: 15px;
    }
    
    .flow-text {
        font-size: 12px;
    }

  .parallax-large {
    max-height: 450px;
    min-height: 350px;
  }
    
    .parallax-large h1 {
        font-size: 40px;
    }
    .card-image {
        height: 300px;
    }
    #about-parallax {
        min-width: 350%;
        max-width: 350%;
    }
    #headshot {
        width: 180px;
    }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}